beautifulsoup4==4.12.3
faiss_cpu==1.7.4
fastapi==0.105.0
html2text==2024.2.26
nltk==3.8.1
numpy==1.26.2
pandas==2.2.1
pandera==0.18.3
pydantic==2.5.2
PyPDF2==3.0.1
sentence_transformers==2.2.2
starlette==0.27.0
